.projects{
  //background-color: red;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: left;
  grid-gap: 10px;
}


.project{
  max-width: 200px;
  display: inline-block;
  padding: 32px;
  text-decoration: none;
  color: var(--color-secondary-text);
  background: var(--color-primary);
  opacity: 0.8;
  border-radius: 10px;
}