.header{
  display: flex;
  align-items: center;
  height: 10vh;
  padding-left: 40px;
  margin-bottom: 30px;
  background: linear-gradient(to bottom right, var(--color-primary), var(--color-primary-light));
  color: var(--color-primary-text);
}