.header{
  display: flex;
  align-items: center;
  height: 10vh;
  margin-bottom: 30px;
  background: linear-gradient(to bottom right, var(--color-primary), var(--color-primary-light));
  color: var(--color-text);
}