.projects{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.addForm{
  display: flex;
  justify-content: left;
  align-items: center;
}

.project{
  max-width: 200px;
  display: inline-block;
  padding: 32px;
  text-decoration: none;
  color: var(--color-secondary-text);
  background: var(--color-primary);
  opacity: 0.8;
  border-radius: 10px;
}